button {
	border: none;
	outline: inherit;

    &:hover {
        cursor: pointer;
    }
}

.btn--action {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 0.125rem solid transparent;
    border-radius: 99rem;
    background-color: var(--white);
    color: var(--navy);
    font-weight: 700;
    transition: color ease 0.3s,
        border-color ease 0.3s,
        background-color ease 0.3s;

    svg {
        width: 2.5rem;
    }

    &:hover {
        color: var(--white);
        border-color: var(--white);
        background-color: transparent;
    }
}

.btn--link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: var(--yellow);
    border-radius: 99rem;

    svg {
        width: 1.5rem;
        color: var(--black);
        rotate: -90deg;
    }
}


@media only screen and (min-width: 80rem) {
    .btn--link {
        width: fit-content;
    }
}
