.job-listings {
    background-color: var(--midblue);
    color: var(--white);

    ul.jobs-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    @media only screen and (min-width: 46.5rem) {
        ul.jobs-list {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    @media only screen and (min-width: 80rem) {
        ul.jobs-list {
            gap: 2.5rem;
        }
    }
}
