.feature-media-detail {
    background: transparent;
    padding-block: 7.375rem 4.5rem;
    margin-block-end: 2rem;

    .title {
        position: relative;

        span {
            display: block;
            margin-block: 0.5rem;
            font-family: "Caveat", cursive, sans-serif;
            font-style: italic;
            text-align: center;
            color: var(--lightblue);
        }

        &::before {
            content: url('data:image/svg+xml,<svg viewBox="0 0 77 81" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M58.0577 52.9609C68.6383 53.298 76.4057 54.4135 76.4057 55.7376C76.4057 57.0617 68.6383 58.1772 58.0577 58.5143C65.301 66.2345 70.0046 72.5158 69.0684 73.4521C68.1321 74.3884 61.851 69.6846 54.1311 62.4411C53.794 73.022 52.6785 80.7896 51.3545 80.7896C50.0304 80.7896 48.9149 73.022 48.5779 62.4411C40.8579 69.6846 34.5768 74.3884 33.6406 73.4521C32.7043 72.5158 37.4079 66.2345 44.6512 58.5143C34.0706 58.1772 26.3032 57.0617 26.3032 55.7376C26.3032 54.4135 34.0706 53.298 44.6511 52.9609C37.4079 45.2407 32.7043 38.9594 33.6406 38.0231C34.5768 37.0868 40.8579 41.7906 48.5779 49.0341C48.9149 38.4532 50.0304 30.6855 51.3545 30.6855C52.6785 30.6855 53.794 38.4532 54.1311 49.0341C61.851 41.7906 68.1321 37.0868 69.0684 38.0231C70.0046 38.9594 65.301 45.2407 58.0577 52.9609Z" fill="%23FFB51F"/><path d="M64.0583 8.91014C68.2905 9.04498 71.3974 9.49117 71.3974 10.0208C71.3974 10.5505 68.2905 10.9967 64.0583 11.1315C66.9556 14.2196 68.837 16.7321 68.4625 17.1066C68.088 17.4811 65.5756 15.5996 62.4876 12.7022C62.3528 16.9346 61.9066 20.0416 61.3769 20.0416C60.8473 20.0416 60.4011 16.9346 60.2663 12.7022C57.1783 15.5996 54.6659 17.4811 54.2914 17.1066C53.9169 16.7321 55.7983 14.2196 58.6956 11.1315C54.4634 10.9967 51.3564 10.5505 51.3564 10.0208C51.3564 9.49117 54.4634 9.04498 58.6956 8.91014C55.7983 5.82207 53.9169 3.30955 54.2914 2.93503C54.6659 2.56051 57.1783 4.44203 60.2663 7.33942C60.4011 3.10705 60.8473 0 61.3769 0C61.9066 0 62.3528 3.10705 62.4876 7.33941C65.5756 4.44202 68.088 2.56051 68.4625 2.93503C68.837 3.30954 66.9556 5.82207 64.0583 8.91014Z" fill="%23186285"/><path d="M12.7018 44.6123C16.934 44.7471 20.041 45.1933 20.041 45.723C20.041 46.2526 16.934 46.6988 12.7018 46.8336C15.5991 49.9217 17.4806 52.4342 17.1061 52.8088C16.7316 53.1833 14.2191 51.3018 11.1311 48.4044C10.9963 52.6367 10.5501 55.7438 10.0205 55.7438C9.49087 55.7438 9.04469 52.6367 8.90986 48.4044C5.82188 51.3018 3.30944 53.1833 2.93494 52.8088C2.56043 52.4342 4.44188 49.9217 7.33918 46.8336C3.10695 46.6988 0 46.2526 0 45.723C0 45.1933 3.10695 44.7471 7.33917 44.6123C4.44188 41.5242 2.56043 39.0117 2.93493 38.6372C3.30944 38.2627 5.82188 40.1442 8.90986 43.0416C9.04469 38.8092 9.49087 35.7021 10.0205 35.7021C10.5501 35.7021 10.9963 38.8092 11.1311 43.0416C14.2191 40.1442 16.7316 38.2627 17.1061 38.6372C17.4806 39.0117 15.5991 41.5242 12.7018 44.6123Z" fill="%23186285"/></svg>');
            position: absolute;
            inset: -6rem auto auto 0;
            width: 4.776rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-block-start: 2.5rem;
    }

    h3, p {
        color: var(--white);
    }

    h3 {
        margin-block-end: 1rem;
    }

    .btn,
    .btn--action {
        margin-block-start: 1.5rem;
    }

    .media {
        position: relative;

        img {
            width: 100%;
            border-radius: 0.5rem;
            box-shadow: 0.25rem 0.25rem 1rem rgba(3, 45, 64, 0.16);
        }

        &::before {
            content: url('data:image/svg+xml,<svg viewBox="0 0 77 81" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M58.0577 52.9609C68.6383 53.298 76.4057 54.4135 76.4057 55.7376C76.4057 57.0617 68.6383 58.1772 58.0577 58.5143C65.301 66.2345 70.0046 72.5158 69.0684 73.4521C68.1321 74.3884 61.851 69.6846 54.1311 62.4411C53.794 73.022 52.6785 80.7896 51.3545 80.7896C50.0304 80.7896 48.9149 73.022 48.5779 62.4411C40.8579 69.6846 34.5768 74.3884 33.6406 73.4521C32.7043 72.5158 37.4079 66.2345 44.6512 58.5143C34.0706 58.1772 26.3032 57.0617 26.3032 55.7376C26.3032 54.4135 34.0706 53.298 44.6511 52.9609C37.4079 45.2407 32.7043 38.9594 33.6406 38.0231C34.5768 37.0868 40.8579 41.7906 48.5779 49.0341C48.9149 38.4532 50.0304 30.6855 51.3545 30.6855C52.6785 30.6855 53.794 38.4532 54.1311 49.0341C61.851 41.7906 68.1321 37.0868 69.0684 38.0231C70.0046 38.9594 65.301 45.2407 58.0577 52.9609Z" fill="%23FFB51F"/><path d="M64.0583 8.91014C68.2905 9.04498 71.3974 9.49117 71.3974 10.0208C71.3974 10.5505 68.2905 10.9967 64.0583 11.1315C66.9556 14.2196 68.837 16.7321 68.4625 17.1066C68.088 17.4811 65.5756 15.5996 62.4876 12.7022C62.3528 16.9346 61.9066 20.0416 61.3769 20.0416C60.8473 20.0416 60.4011 16.9346 60.2663 12.7022C57.1783 15.5996 54.6659 17.4811 54.2914 17.1066C53.9169 16.7321 55.7983 14.2196 58.6956 11.1315C54.4634 10.9967 51.3564 10.5505 51.3564 10.0208C51.3564 9.49117 54.4634 9.04498 58.6956 8.91014C55.7983 5.82207 53.9169 3.30955 54.2914 2.93503C54.6659 2.56051 57.1783 4.44203 60.2663 7.33942C60.4011 3.10705 60.8473 0 61.3769 0C61.9066 0 62.3528 3.10705 62.4876 7.33941C65.5756 4.44202 68.088 2.56051 68.4625 2.93503C68.837 3.30954 66.9556 5.82207 64.0583 8.91014Z" fill="%23186285"/><path d="M12.7018 44.6123C16.934 44.7471 20.041 45.1933 20.041 45.723C20.041 46.2526 16.934 46.6988 12.7018 46.8336C15.5991 49.9217 17.4806 52.4342 17.1061 52.8088C16.7316 53.1833 14.2191 51.3018 11.1311 48.4044C10.9963 52.6367 10.5501 55.7438 10.0205 55.7438C9.49087 55.7438 9.04469 52.6367 8.90986 48.4044C5.82188 51.3018 3.30944 53.1833 2.93494 52.8088C2.56043 52.4342 4.44188 49.9217 7.33918 46.8336C3.10695 46.6988 0 46.2526 0 45.723C0 45.1933 3.10695 44.7471 7.33917 44.6123C4.44188 41.5242 2.56043 39.0117 2.93493 38.6372C3.30944 38.2627 5.82188 40.1442 8.90986 43.0416C9.04469 38.8092 9.49087 35.7021 10.0205 35.7021C10.5501 35.7021 10.9963 38.8092 11.1311 43.0416C14.2191 40.1442 16.7316 38.2627 17.1061 38.6372C17.4806 39.0117 15.5991 41.5242 12.7018 44.6123Z" fill="%23186285"/></svg>');
            position: absolute;
            inset: auto -1.5rem -3.5rem auto;
            width: 4.5rem;
        }
    }

    @media only screen and (min-width: 80rem) {
        .box-heading {
            &::after {

            }
        }
    }
}
